# 1. Import pandas and load the `billboard_1978.csv` dataset into a DataFrame

As a reminder, `billboard_1978.csv` is in your `jtc_class_code/datasets` folder

In [2]:
import pandas as pd
df = pd.read_csv('../../datasets/billboard_1978.csv')

# 2. Print out the top 7 rows of the DataFrame

In [3]:
df.head()

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
0,1978,1,"""Shadow Dancing""",Andy Gibb,Pop,25,1,Min,102
1,1978,2,"""Night Fever""",Bee Gees,Pop,20,1,Min,110
2,1978,3,"""You Light Up My Life""",Debby Boone,Country,25,1,Maj,78
3,1978,4,"""Stayin' Alive""",Bee Gees,Pop,27,1,Min,103
4,1978,5,"""Kiss You All Over""",Exile,Country,23,1,Maj,104

# 3. Use the pandas docs to figure out how to sort the DataFrame so the fastest songs are at the top. Also, sort the DataFrame 'in place' without having to assign to a variable

Solution:
* df.[sort_values()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) page of docs
* add the `ascending = False` argument to switch to descending order
* add the `inplace = True` argument to sort in place

In [21]:
df.sort_values(by = 'BPM', ascending = False, inplace = True)

# 4. Use the pandas docs to find out how to remove the `Genre` and `Maj_Min` columns from the DataFrame (while keeping the rest)

Make sure you save the resulting DataFrame, either in place, or by assigning a new variable

Hint: one way to phrase this is 'dropping' columns

Solution:
* [df.drop()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html#pandas.DataFrame.drop) in docs


Two straightforward ways:
* `df.drop(columns = ['Genre', 'Maj_Min'])`
* `df.drop(labels = ['Genre', 'Maj_Min'], axis = 1)`

In [19]:
# method 1 ()
df.drop(columns = ['Genre', 'Maj_Min'], inplace = True)

# 5. Using [this page from the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.lower.html) as a starting point, find a way to make song titles all lower case and song artists all caps.

Remember, each column in a DataFrame object is a data type called `Series` (or `pandas.Series`)

Solution: This one is a little tricky! 
* First, remember that how we can get a column of a DataFrame (or a `Series`) 
* Then we can use `df['Title'].str.lower()` to access the strings in the column and make them lower case
* Then we save them back into `df['Title']` again

In [32]:
df['Title'] = df['Title'].str.lower()

In [34]:
df['Artist'] = df['Artist'].str.upper()

In [36]:
df.head()

,Year,Hot_Singles_Rank,Title,Artist,Weeks_On_Chart,Peak_Chart_Position,BPM
74,1978,75,"""always and forever""",HEATWAVE,20,18,156
98,1978,99,"""hollywood nights""",BOB SEGER & THE SILVER BULLET BAND,13,12,150
76,1978,77,"""serpentine fire""","EARTH, WIND & FIRE",18,13,140
69,1978,70,"""what's your name""",LYNYRD SKYNYRD,18,13,138
93,1978,94,"""turn to stone""",ELECTRIC LIGHT ORCHESTRA,15,13,138

# 6. Using the Pandas docs, find a way to export your finished DataFrame to a new csv file called `billboard_1978_cleaned.csv`

#### Bonus: can you get this file to be output right back into the `jtc_class_code/datasets/` folder?

Solution:
* A great place to start here is the [IO tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) section of the pandas docs
* Or, the [df.to_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) page in the API reference section
* For the bonus: the key is in realizing that just like with *reading* the csv, we can specify full file paths outside the working directory using Unix-like syntax for writing files

Tip: you can add the `index = False` argument when saving to avoid writing an additional column of indexes

In [37]:
df.to_csv('../../datasets/billboard_1978_cleaned.csv', index= False)

# 7. Wrap-up: comment your code (including pasting in any links to the docs where you found solutions) and push your .ipynb file to github

Congrats on finishing this challenge!